#work-section {
    background-color: #242424;
    color: white;
    height: 100%;
    overflow: hidden;
}

#work-title {
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
}

#work-display {
    display: inline-block;
    height: 100%;
}

#work-ui {
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px;
    float: left;
    height: 100%;
    padding: 10px;
    width: 240px;
}

#myCanvas {
    background-color: #121212;
    height: initial;
    float: right;
    width: initial;
}

#equation {
    background-color: white;
    color: black;
    width: 70%;
}
